/* cards.css*/
/* Cards text settings*/
.cards-block h2{
	color: #fff;
	font-weight: 300;
	font-size: 1.8rem;
	line-height: 2.1rem;
	text-transform: uppercase;
	text-decoration: underline;
	text-underline-offset: 30px;
	text-decoration-thickness: 1px;
 	padding: 0 0 30px;
}

a.card{
	text-decoration: none!important;
}

a.card :hover{
	text-decoration: underline dashed #51bbbb;
}

.card h3 {
  margin-top: 1rem;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
.card p {
  color: #ccc;
}

/* cards Container */
.cards-block {
  padding: 3rem 15%;
  text-align: center;
}
.cards {
 display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  align-items: stretch;
}
.card {
  background-color: #1b1f1f;
  border-radius: 4px;
  padding: 1rem;
  text-align: center;
}
.card img {
  width: 100%;
  border-radius: 4px;
}

/* Animation Motion for card hover */

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}


/* Responsive */

@media (max-width: 768px) {
.cards { 
	display: flex;
    flex-direction: column;
    align-items: center;}
.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
@media (max-width: 480px) {
.cards-block {padding: 1rem 10%;}
.cards-block h2{ font-size: 1.4rem; }
}




