/*media.css*/
/* Responsive */
@media (max-width: 1024px) {
  .gallery-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
  .gallery-text {
    grid-column: 1 / 3;
    margin-top: 1.5rem;
    text-align: center;
  }

}
@media (max-width: 768px) {
  .gallery-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gallery-left, .gallery-mid {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .gallery-text {
    width: 90%;
    text-align: center;
  }
  .cards { display: flex;
    flex-direction: column;
    align-items: center;}
.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
@media (max-width: 480px) {
	.modal-content{height: auto; }
	.modal-desc {text-align: center;}
.gallery-block {padding: 1rem 5%;}
	.cards-block {padding: 1rem 10%;}
body { font-size: 0.95rem; }
	header {height: 120px;}
h1 { font-size: 1.2rem; }
.gallery-text h2 { font-size: 1.4rem; text-align: left;}
.gallery-text p{ font-size: 1.1rem; text-align: justify;}
strong{font-weight: 700;}
.cards-block h2{ font-size: 1.4rem; }

  footer { font-size: 0.8rem; }
}
